/* website by yuk - www.yuk.digital - yukenquiries@gmail.com */

* {
    font-family: 'menlo-regular', 'helvetica', monospace;
    margin: 0;
}

main, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* ------- app */

#app {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* ------- header */

header {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #FFF;
    z-index: 5;
}

header a:first-child {
    margin-left: 60px;
}

nav {
    font-size: 13px;
    margin-right: 60px;
}

nav a {
    margin: 0px 10px 0px 10px;
}

/* ------- content */

#content {
    padding-right: 17px;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#content::-webkit-scrollbar {
    display: none;
}

/* ------- contact */

address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 85%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
}

address p, address a {
    font-size: 13px;
}

address a:last-child {
    margin-top: 3px;
}

address p {
    margin-top: 5px;
}

/* ------- about */

#about {
    margin-left: 69px;
}

.about-section {
    margin-bottom: 30px;
}

#born {
    margin-bottom: 30px;
}

#about p {
    font-size: 13px;
    margin-top: 8px;
}

.g1 li:not(:first-child) {
    margin-top: 6px;
}

#about li {
    font-size: 12px;
    list-style: none;
}

.about-ul {
    margin-top: 8px;
}

.about-ul li {
    margin-bottom: 6px;
}

/* ------- exhibitions */

#exhibitions {
    margin-bottom: 30px;
    margin-left: 69px;
}

#exhibitions p {
    font-size: 13px;
    margin-top: 8px;
}

#exhibitions li {
    font-size: 12px;
    list-style: none;
}

#exhibitions h5 {
    margin: 17px 0px 8px 0px;
}

/* ------- works */

.works-wrap {
    margin-left: 8px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mediums {
    margin-left: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

#mediums h4 {
    margin-right: 30px;
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
}

#mediums h4:hover {
    cursor: pointer;
    -webkit-filter: invert(30%);
    filter: invert(30%);
}

#not {
    width: 100%;
    height: 100%;
}

.currImg {
    max-width: 750px;
    max-height: 500px;
    -webkit-transition: -webkit-box-shadow 0s;
    transition: -webkit-box-shadow 0s;
    transition: box-shadow 0s;
    transition: box-shadow 0s, -webkit-box-shadow 0s;
}

.currImg:not(.caro-hide):hover {
    -webkit-box-shadow: 2px 2px black;
    box-shadow: 2px 2px black;
    -webkit-backface-visibility: hidden;
}

#image-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#image-info {
    width: 100%;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 71px;
}

#info p {
    font-size: 12px;
}

#info {
    margin-left: 60px;
    height: 71px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#arrows {
    height: 71px;
    margin-right: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
}

#arrows div:last-child {
    margin-left: 30px;
}

#arrows div {
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
}

#arrows div:hover {
    cursor: pointer;
    -webkit-filter: invert(30%);
    filter: invert(30%);
}

#prev {
    margin-right: 61px;
}

/* ------- home */

.carousel-wrap {
    margin-left: 8px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
}

.safari-carousel {
    height: 600px;
    position: absolute;
    left: 60px;
    top: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.safari-carousel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
}

.caro-hide {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: -webkit-box-shadow 0s;
    transition: -webkit-box-shadow 0s;
    transition: box-shadow 0s;
    transition: box-shadow 0s, -webkit-box-shadow 0s;
    -webkit-box-shadow: 2px 2px white;
    box-shadow: 2px 2px white;
}

.caro-show {
    pointer-events: all;
    opacity: 1;
    -webkit-transition: -webkit-box-shadow 0s;
    transition: -webkit-box-shadow 0s;
    transition: box-shadow 0s;
    transition: box-shadow 0s, -webkit-box-shadow 0s;
}

.caro-hide:hover {
    -webkit-box-shadow: 2px 2px black;
    box-shadow: 2px 2px black;
}

.caro-anchor {
    pointer-events: none;
}

.caro-anchor-visible {
    pointer-events: all;
}

/* ------- miscellaneous */
a {
    text-decoration: none;
    color: black;
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
}

a:not(.not):hover {
    -webkit-filter: invert(30%);
    filter: invert(30%);
}

#loader {
    font-size: 10px;
}

.iPad-works-wrap {
    background-color: lime;
    height: 89%;
}

/* ------- media queries */

 @media screen and (max-height:700px) {
     #app {
         display: block;
     }

     #content {
         margin-left: -8.5px;
     }

     .works-wrap, .carousel-wrap {
         height: 610px;
     }

     #exhibitions, #about, .works-wrap {
         padding-bottom: 100px;
     }
}

@media screen and (max-width:760px) {
    #header-name {
        font-size: 20px;
    }

    header a:first-child {
        margin-left: 10px;
    }

    nav {
        margin-right: 5px;
    }

    .safari-carousel {
        width: 100vw;
        left: 0px;
        background-color: pink;
    }

    #mediums {
        margin-left: 10px;
    }

    #mediums h4 {
        font-size: 14px;
    }

    .currImg {
        max-width: 98%;
        margin: auto;
    }

    .safari-carousel .currImg {
        max-width: 98vw;
        position: relative;
        right: 50vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #info {
        margin-left: 10px;
    }

    #about, #exhibitions {
        margin-left: 20px;
    }

    #about h4, #exhibitions h4 {
        font-size: 13px;
    }

    #about li, #about p, #exhibitions li, #exhibitions p {
        font-size: 11px;
    }

    #exhibitions h5 {
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {

    #header-name {
        font-size: 16px;
    }

    nav a {
        margin: 0px 4px 0px 4px;
        font-size: 12px;
    }

    #mediums h4 {
        font-size: 12px;
        margin-right: 7px;
    }

    #info h5 {
        font-size: 12px;
    }

    #info p {
        font-size: 10px;
    }

    #arrows {
        margin-right: 12px;
    }

    #arrows div:last-child {
        margin-left: 30px;
    }

    #prev {
        margin-right: 61px;
    }
}

@media screen and (max-width:415px) and (max-height:824px) {
    #app {
        display: block;
    }

    header {
        height: 30px;
    }

    #header-name {
        font-size: 12px;
    }

    nav a {
        margin: 0px 2px 0px 2px;
        font-size: 10px;
    }

    #content {
        position: static;
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    #exhibitions, #about {
        margin: 10px 10px 0px 10px;
        padding-bottom: 120px;
    }

    #about h4, #exhibitions h4 {
        font-size: 11px;
    }

    #about li, #about p, #exhibitions li, #exhibitions p {
        font-size: 9px;
    }

    #exhibitions h5 {
        font-size: 10px;
    }

    #mediums {
        position: fixed;
        top: 35px;
        margin-left: 10px;
    }

    #mediums h4 {
        font-size: 10px;
        margin-right: 7px;
    }

    .works-wrap {
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }

    #image-wrap-wrap {
        height: 75vh;
        width: 100vw;
        position: fixed;
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
        pointer-events: none;
    }

    #image-info {
        position: fixed;
        bottom: 5px;
        height: 40px;
    }

    #info, #arrows {
        height: 40px;
    }

    #info {
        margin-left: 10px;
    }

    #info h5 {
        font-size: 9px;
    }

    #info p {
        font-size: 8px;
    }

    #info p:last-child {
        font-size: 7px;
    }

    #arrows {
        font-size: 9px;
        margin-right: 17px;
    }

    #prev {
        margin-right: 51.5px;
    }

    .currImg {
        -webkit-box-shadow: 0px 0px #FFF;
        box-shadow: 0px 0px #FFF;
        max-width: 100%;
        max-height: 65vh;
        margin: auto;
        pointer-events: all;
    }

    .carousel-wrap {
        height: 80vh;
        width: 100vw;
        margin: 0;
        position: fixed;
    }

    .caro-hide {
        -webkit-box-shadow: 0px 0px #FFF;
        box-shadow: 0px 0px #FFF;
    }

    .caro-hide:hover {
        -webkit-box-shadow: 0px 0px #000;
        box-shadow: 0px 0px #000;
    }

    .currImg:not(.caro-hide):hover {
        -webkit-box-shadow: 0px 0px #FFF;
        box-shadow: 0px 0px #FFF;
    }

}
